section {
  width: 30%;
  height: 100vh;
  overflow: hidden;
  background-color: #cecece41;
  overflow: hidden;
}

section .section--header {
  background: -webkit-gradient(linear, left top, right top, from(#fd2a7b), to(#ff7556));
  background: linear-gradient(90deg, #fd2a7b 0%, #ff7556 100%);
  color: white;
  height: 70px;
  width: 90%;
  padding: 0px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .section--header .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 100%;
}

section .section--header .profile .profile--pic {
  height: 100%;
  width: 50px;
  background-color: royalblue;
}

section .section--header .profile .profile--title a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

section .section--header .profile .profile--title a:hover, section .section--header .profile .profile--title a:active {
  color: white;
}

section .section--header .profile .profile--title a:focus {
  font-weight: 500;
}

section .section--header .profile--workmode {
  float: right;
  height: 40px;
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
}
